	* {
		font-family: 'Messenger Text', sans-serif;
	}
	html {
		margin-bottom: 15px;
	}
	h1 {
		font-family: 'Messenger Mono', sans-serif;
		font-size: 16px;
		color: DodgerBlue;
		font-weight: normal;
	}
	img {
		width: 22.5%;
		margin: 1%;
		float: left;
		border: 1px solid silver;
	}
	img.full {
		width: auto;
        max-height: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
	img.ad {
		width: 210px;
		height: 600px;
	}
	img.ad1 {
		width: 1225px !important;
		height: 125px !important;
	}
	img.ad2 {
		width: 300px !important;
		height: 250px !important;
	}
	img.ad3 {
		width: 596px !important;
		height: 110px !important;
	}
	img.ad4 {
		width: 400px !important;
		height: 190px !important;
	}
	a {
		text-decoration: none;
	}
	a:link {
		color: Orange;
		text-decoration: none;
	}     
	a:visited {
		color: Orange;
		text-decoration: none;
	}  
	a:hover {
		color: OrangeRed;
		text-decoration: none;
	}  
	a:active {
		color: OrangeRed;
		text-decoration: none;
		}
	strong {
		font-weight: normal;
		color: black;
	}
	ul {
    	list-style: none;
    	padding-left: 0px;
    	margin-top: 0px;
    	font-size: 14px;
    	line-height: 1.3em;
    	color: DimGray;
	}​
	li {
		list-style-type: none;
	}
	li.pro {
		/*font-weight: bold;*/
	}
	li.sec {
		padding-left: 10px;
	}
	#container {
		width: 95%;
		margin: 0 auto;
	}
	.third {
		width: 33%;
		float: left;
	}
	.toptwothird {
		width: 66%;
		float: left;
		/*border-bottom: 1px dotted DodgerBlue;*/
	}
	.toponethird {
		width: 33%;
		float: left;
		/*border-bottom: 1px dotted DodgerBlue;*/
	}
	.whole {
		width: 100%;
		float: left;
		border-bottom: 1px dotted DodgerBlue;
	}
	.home {
		position: absolute;
		top: 20px;
		left: -5px;
		-webkit-transform: rotate(-90deg);
		z-index: 999;
	}
	.name {
		position: absolute;
		top: 80px;
		left: -44px;
		-webkit-transform: rotate(-90deg);
	}