html, body {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
}

#container {
	width: 10800mm;
	height: 2220mm;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}
#container-print {
	display: none;
}
.red,
.orange,
.yellow,
.green,
.blue {
	width: 360mm;
	height: 444mm;
	float: left;
	margin: 0;
	padding: 0;
}

.red {
	background: red;
}
.orange {
	background: orange;
}
.yellow {
	background: yellow;
}
.green {
	background: green;
}
.blue {
	background: blue;
}

h1 {
	font-size: 48pt;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}

h3 {
	font-size: 14pt;
	text-transform: uppercase;
	line-height: 1em;
}

h6 {
	font-size: 8pt;
	font-weight: bold;
	margin-top: 40mm;
}

p {
	text-align: justify;
	font-size: 10pt;
	line-height: 14pt;
}

span {
	font-weight: bold;
}
span.strike {
	background: white;
	color: white;
}

@page {
  width: 210mm;
  height: 297mm;
  margin: 0;
}

@media print {

	#container {
		display: none;
	}
	#container-print {
		display: block;
		width: 6300mm;
		height: 1485mm;
	}

	.title {
		width: 115mm;
  		height: 210mm;
  		float: none;
		clear: both;
		-webkit-page-break-after: always;
		page-break-after: always;
		margin: 20mm 100mm;
	}
	.red, .blue, .green, .yellow, .orange {
		width: 360mm;
		height: 444mm;
		float: none;
		clear: both;
		-webkit-page-break-after: always;
		page-break-after: always;
		margin: 0;
	}
}