html, body {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
}

#container {
	width: 10800mm;
	height: 2220mm;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}
#container-print {
	display: none;
}
#container-inside {
	width: 30%;
	margin: 0 auto;
}

.title, .print, .about, .info {
	width: 300px;
	height: 100px;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	text-align: center;
}

.nav {
	position: fixed;
	top: 10px;
	left: 20px;
	display: none;
}

#container-inside .nav {
	display: block;
}

h4 {
	color: white;
	font-weight: bold;
	float: left;
	margin-right: 15px;
}

h2 {
	font-size: 36px;
	font-weight: bold;
	color: white;
}


a:link, a:visited {
	color: white;
	text-decoration: none;
	border-bottom: 3px solid white;
}

a:hover, a:active {
	color: black;
	text-decoration: none;
	border-bottom: 3px solid black;
}

#container-inside .nav a:link, #container-inside .nav a:visited {
	color: darkgray;
	text-decoration: none;
	border-bottom: 3px solid darkgray;
}

#container-inside .nav a:hover, #container-inside .nav a:active {
	color: black;
	text-decoration: none;
	border-bottom: 3px solid black;
}

.text a:link, .text a:visited {
	color: blue;
	text-decoration: none;
	border-bottom: none;
}

.text a:hover, .text a:active {
	color: blue;
	text-decoration: underline;
	border-bottom: none;
}


.kern {
	letter-spacing: -3px;
}

.kern-small {
	letter-spacing: -1px;
}

.red,
.orange,
.yellow,
.green,
.blue {
	width: 360mm;
	height: 444mm;
	float: left;
	margin: 0;
	padding: 0;
}

.red {
	background: red;
}
.orange {
	background: orange;
}
.yellow {
	background: yellow;
}
.green {
	background: green;
}
.blue {
	background: blue;
}

h1 {
	font-size: 48pt;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}

h3 {
	font-size: 14pt;
	text-transform: uppercase;
	line-height: 1em;
}

h6 {
	font-size: 8pt;
	font-weight: bold;
	margin-top: 40mm;
}

p {
	font-size: 10pt;
	line-height: 14pt;
}

.text span {
	color: dimgray;
}
span.strike {
	background: white;
	color: white;
}

#container-inside .text span {
	color: darkgray;
}

#container-inside span.strike {
	display: none;
}

@media only screen and (max-width: 1200px) {
	#container-inside {
		width: 50%;
	}

}

@media only screen and (max-width: 800px) {
	#container-inside {
		width: 65%;
		padding-top: 20px;
	}

	#container-inside .nav {
	background-color: white;
	}
}

@media only screen and (max-width: 550px) {
	#container-inside {
		width: 75%;
		padding-top: 50px;
	}

	h1 {
		font-size: 32px;
	}

	#container-inside .nav {
	background-color: white;
	width: 100%;
	top: 0;
}

}

@page {
  size: A4;
  margin: 0;
}

@media print {

	#container {
		display: none;
	}
	#container-print {
		display: block;
		width: 6300mm;
		height: 1485mm;
	}

	.text {
		width: 115mm;
  		height: 210mm;
  		float: none;
		clear: both;
		-webkit-page-break-after: always;
		page-break-after: always;
		margin: 20mm 100mm;
	}

	.red, .blue, .green, .yellow, .orange {
		width: 360mm;
		height: 444mm;
		float: none;
		clear: both;
		-webkit-page-break-after: always;
		page-break-after: always;
		margin: 0;
	}
}